.container {
    position: relative;
    max-width: 100%;
    margin: auto;
    overflow: hidden;
}

/* CSS for flexbox thumbnail row */
.row {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    overflow-x: auto;
}

.column {
    flex: 0 0 auto;
    width: 16.66%;
}

.demo {
    opacity: 0.6;
    width: 100%; /* Set max width for thumbnail images */
    height: auto; /* Keep auto height for flexible image display */
    transition: opacity 0.3s;
}

.active, .demo:hover {
    opacity: 1;
}

.slides {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center; /* Vertical centering */
    justify-content: center; /* Horizontal centering */
}

.mySlides {
    display: none;
    width: 100%;
    height: 70vh; /* Adjust height for desired aspect ratio and fit */
    display: flex;
    align-items: center;
    justify-content: center;
}

.mySlides img {
    object-fit: cover; /* Cover the space according to aspect ratio */
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}

.prev, .next {
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;

    transform: translateY(-50%); 
    background-color: rgba(0, 0, 0, 0.8);
}

.prev {
    left: 0; /* Align flush with left side */
    border-radius: 3px 0 0 3px;
}

.next {
    right: 0; /* Align flush with right side */
    border-radius: 3px 0 0 3px;
}
p {
    text-align: left;
}
