
    <nav>
        <a href="https://webpages.charlotte.edu/jstega13/">CLT Web</a> 〣
        <a href="https://github.com/Jcstegall">GitHub</a> 〣
        <a href="https://github.com/Jcstegall/jcstegall.github.io">Github.io</a> 〣
        <a href="https://www.linkedin.com/in/julianstegall2/">LinkedIn</a>
    </nav>
        <br>
        <br>
    <nav>
        <a href="../itis3135/jstegall.com/index.html">Personal Website</a> 

    </nav>
    <p>Page Built by <a href="Jstegall.com/">Jstegall.com</a>, ©2026 Certified in <a class='cert' href="https://www.freecodecamp.org/certification/jstega13/responsive-web-design">Responsive Web Design</a> and <a class='cert' href="https://www.freecodecamp.org/certification/jstega13/javascript-algorithms-and-data-structures-v8"> JS</a> </p>

   
    
