
    <nav>
        <a href="https://webpages.charlotte.edu/jstega13/">CLT Web</a> 〣
        <a href="https://github.com/Jcstegall">GitHub</a> 〣
        <a href="https://github.com/Jcstegall/jcstegall.github.io">Github.io</a> 〣
        <a href="https://www.freecodecamp.org/jstega13">freeCodeCamp</a> 〣
        <a href="https://www.codecademy.com/profiles/jstega13">CodeAcademy</a> 〣
        <a href="https://www.linkedin.com/in/julianstegall2/">LinkedIn</a>
    </nav>
        <br>
        <br>
    <nav>
        <a href="../itis3135/devjs.agency/index.html">Design Firm</a> 〣
        <a href="../itis3135/JollySwallow/index.html">Jolly Swallow</a>〣
        <a href="../itis3135/sTuFF/Nothing/INTernwoRK😎.htm">Crappy Webpage</a>〣
        <a href="../itis3135/CRAP/website_evaluations.html">CRAP Website</a>

    </nav>
    <p>Page Built by <a href="devjs.agency/">DevJS</a>, ©2025 <a class='cert' href="https://www.freecodecamp.org/certification/jstega13/responsive-web-design">Certified in Responsive Web Design</a> </p>

   
    
